<mat-form-field appearance="outline" class="search-box">
  <input matInput placeholder="Search by title..." (keyup)="applyFilter($event)" />
</mat-form-field>

<table mat-table [dataSource]="pagedCharacters">
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Full name</th>
    <td mat-cell *matCellDef="let character">
      <span class="name-cell">
        {{ character.fullName }}
        <mat-icon class="info-icon" (click)="openDetails(character)">info</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef>Birthdate</th>
    <td mat-cell *matCellDef="let character">{{ character.birthdate }}</td>
  </ng-container>

  <ng-container matColumnDef="hogwartsHouse">
    <th mat-header-cell *matHeaderCellDef>House</th>
    <td mat-cell *matCellDef="let character" class="house-th">
      <span class="house-hover">
        {{ character.hogwartsHouse }}

        <div class="house-hover-card" *ngIf="getHouseByName(character.hogwartsHouse) as house">
          <div class="house-avatar">{{ house.emoji }}</div>
          <div>
            <div class="house-name" [style.color]="getColor(house.colors[0])">
              {{ house.house }}
            </div>
            <div class="house-founder">Founder: {{ house.founder }}</div>
            <div class="house-colors">
              colors:
              <span
                *ngFor="let color of house.colors"
                class="color-dot"
                [style.background]="getColor(color)"
              ></span>
            </div>
          </div>
        </div>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="nickname">
    <th mat-header-cell *matHeaderCellDef>Nickname</th>
    <td mat-cell *matCellDef="let character">{{ character.nickname }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="pagination-footer">
  <span>Страниц {{ totalPages }}</span>

  <div class="pagination-controls">
    <span>
      строк на страницу {{ pageIndex() * pageSize + 1 }}-{{
        pageIndex() * pageSize + pagedCharacters.length
      }}
      из {{ filteredCharacters.length }}
    </span>
    <button (click)="prevPage()" [disabled]="pageIndex() === 0">‹</button>
    <button (click)="nextPage()" [disabled]="pageIndex() >= totalPages - 1">›</button>
  </div>
</div>
