<mat-form-field appearance="outline" class="search-box">
  <input
    matInput
    [placeholder]="'characters.search' | translate: languageService.current()"
    (keyup)="applyFilter($event)"
  />
</mat-form-field>

<table mat-table [dataSource]="pagedCharacters()">
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'characters.col.fullName' | translate: languageService.current() }}
    </th>
    <td mat-cell *matCellDef="let character">
      <span class="name-cell">
        {{ character.fullName }}
        <mat-icon class="info-icon" (click)="openDetails(character)">info</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'characters.col.birthdate' | translate: languageService.current() }}
    </th>
    <td mat-cell *matCellDef="let character">{{ character.birthdate }}</td>
  </ng-container>

  <ng-container matColumnDef="hogwartsHouse">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'characters.col.house' | translate: languageService.current() }}
    </th>
    <td mat-cell *matCellDef="let character" class="house-th">
      <span class="house-hover">
        {{ character.hogwartsHouse }}

        @if (getHouseByName(character.hogwartsHouse); as house) {
          <div class="house-hover-card">
            <div class="house-avatar">{{ house.emoji }}</div>
            <div>
              <div class="house-name" [style.color]="getColor(house.colors[0])">
                {{ house.house }}
              </div>
              <div class="house-founder">
                {{ 'characters.house.founder' | translate: languageService.current() }}:
                {{ house.founder }}
              </div>
              <div class="house-colors">
                {{ 'characters.house.colors' | translate: languageService.current() }}:
                @for (color of house.colors; track color) {
                  <span class="color-dot" [style.background]="getColor(color)"></span>
                }
              </div>
            </div>
          </div>
        }
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="nickname">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'characters.col.nickname' | translate: languageService.current() }}
    </th>
    <td mat-cell *matCellDef="let character">{{ character.nickname }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="filteredCharacters().length"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex()"
  [pageSizeOptions]="[5, 10, 25]"
  (page)="onPageChange($event)"
></mat-paginator>
